body {
    font-family: "Baloo Thambi 2", cursive;
    
  }
  .heading span{
    color:red;
}



.header{
    width:100%;
    
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0; left: 0;
    
    padding:2.5rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    
}

.header .logo{
    font-size: 2.5rem;
    color:#666;
}

.header .logo span{
    color:red;
}

.header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.header .navbar ul li{
    margin-left: 2.5rem;
}

.header .navbar ul li a{
    color:#999;
    font-size: 1rem;
}

.header .navbar ul li a{
  color:#999;
  
}


.header .navbar ul li a{
  color:#999;
 
}

.header .navbar ul li a.active,
.header .navbar ul li a:hover{
  color:red;
  border-bottom: .2rem solid red;
  padding:.7rem 0;
}
